@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap');
.tasks-container{
  padding-top: 10px;
  min-width: 90%;
  min-height: 75vh;
  text-align: center;
  border-radius: 1%;
  background-color: white;
  box-shadow: 0 0 5px 1px #ddd;
}
.add-task{
  width: 90%;
  padding-top: 15px;
  margin:0 auto 10px;
}

ul li{
  text-align: left;
  margin-top: 5px;
}

.delete{
  position: absolute;
  color: rgb(214, 18, 18);
  right: 10px;
  cursor: pointer;
  font-size: 16px;
}
.taskBtn{
  width: 70px;
}
.task-div{
  width: 40%;
  margin-left: 6%;
}


.taskBtn{
  width: 15%;
  font-weight: bold;
  height: 100%;
}
.tasks-list ul{ 
  list-style: none;
  margin: 10px auto auto auto;
  width: 95%;
}
.list-alert{
  margin-left: 100px;
  margin-top: 150px;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 50px;
}