.form-container{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 50px auto;
  box-shadow: 0 0 5px 1px #ddd;
  background-color: white;
  padding:20px;
  text-align: center;
  border-radius: 7px;
  
}
.login-form, .register-form{
  display: flex;
  flex-direction: column !important;

}
.addtask-form{
  flex-direction: row !important;
}

.input{
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 7px;
}
.addtask-input{
  width: 83%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 2px;
}
.list-input{
  margin-left: 20px;
  padding: 5px;
}
.register{
    margin-left: 10px;
  }